
@import '../../../theme/layout.scss';

.main-layout-container {
  // width: 95%;
  // margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: $wrapper-width;
  height: $wrapper-height;
}

.header {
  width: $header-width;

  display: flex;
  justify-content: space-between;
}

.navigation-menu {}

.content {
  width: $content-width;
  height: $content-height;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  background-color: #f0f0f0;
}

.footer {
  width: $footer-width;
}

// Small devices (landscape phones, 576px and up)

@media (min-width: 576px) {

  // Medium devices (tablets, 768px and up)

  @media (min-width: 768px) {

    .main-layout-container {
      width: 90%;
      margin: 0 auto;
    }

    .content {
      width: 70%;
      float: left;
    }

    // Large devices (desktops, 992px and up)

    @media (min-width: 992px) {}

  }

  // Extra large devices (large desktops, 1200px and up)

  @media (min-width: 1200px) {
    .main-layout-container {
      width: 90%;
      margin: 0 auto;
    }
  }
}
