@if(isSideMenuOpen) {
<div class="side-menu-container" @openClose>
  <div class="top">
    <button (click)="closeMenu()"> close</button>
  </div>
  <div class="redirections">
    <div class="side-menu-item">
      <a href="/home">Home</a>
    </div>
    <div class="side-menu-item">
      <a href="/about">About</a>
    </div>
    <div class="side-menu-item">
      <a href="/contact">Contact</a>
    </div>
  </div>

  <div class="personal-data">
    <div class="names">{{userData.names}}</div>
    <div class="email">{{userData.email}}</div>
  </div>
</div>

<div class="shadow" tabindex="0" (click)="closeMenu()" (keydown)="closeMenu()"></div>
}
