@use '../../../theme/layout.scss';

$personal-data-heigh: 250px;

.side-menu-container {
  position: absolute;
  top: layout.$header-height;
  left: 0;
  width: 300px;
  height: layout.$content-height;
  z-index: 100;
  background-color: aqua;
}

.shadow {
  position: absolute;
  top: layout.$header-height;
  left: 0;
  width: 100vw;
  height: layout.$content-height;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 90;
}

.top {
  display: flex;
  justify-content: flex-end;
}

.personal-data {
  height: $personal-data-heigh;
}

.redirections {
  height: calc(100% - $personal-data-heigh);

}

