@import './theme/variables.scss';
@import './theme/icons.scss';
@import './theme/colors.scss';
@import './theme/mixins.scss';
@import './theme/breakpoints.scss';
@import './theme/layout.scss';

html {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}
