@use './theme/variables.scss';
@use './theme/icons.scss';
@use './theme/colors.scss';
@use './theme/mixins.scss';
@use './theme/breakpoints.scss';
@use './theme/layout.scss';

html {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}
