:root {
  /** Icons and Images **/
  --icon-close-dark: url(app/assets/icons/icon-close-dark.svg);
  --icon-close-light: url(app/assets/icons/icon-close-light.svg);

  --icon-email-dark: url(app/assets/icons/icon-email-dark.svg);
  --icon-email-light: url(app/assets/icons/icon-email-light.svg);
  --icon-email-azure: url(app/assets/icons/icon-email-azure.svg);

  --icon-key-vertical-light: url(app/assets/icons/icon-key-vertical-light.png);

  .icon {
    background-repeat: no-repeat;
    background-position: center;
  }

  .i-close-dark {
    @extend .icon;
    background-image: var(--icon-close-dark);
  }

  .i-email-dark {
    @extend .icon;
    background-image: var(--icon-email-dark);
  }

  .i-close-light {
    @extend .icon;
    background-image: var(--icon-close-light);
  }

  .i-email-light {
    @extend .icon;
    background-image: var(--icon-email-light);
  }

  .i-email-azure {
    @extend .icon;
    background-image: var(--icon-email-azure);
  }

  .i-key-vertical-light {
    @extend .icon;
    background-image: var(--icon-key-vertical-light);
  }


}
