@use '../../../theme/colors.scss';

.main-container {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  width: 400px;
  height: 400px;

  border-radius: 25px;

  gap: 12px;

  background-color: colors.get-color(purple, A100);
}

.email {
  max-width: 300px;
}

.password {
  max-width: 300px;
}

.forgot-password {
  margin-top: 24px;
  text-align: center;
}


